header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo {
    color:var(--black);
    font-size: 2.1rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

header .logo .logos {
    color:var(--green);
    font-size: 3.5rem;
    margin-right: 4px;
}

header nav a{
    font-size: 1.7em;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    margin-right: 2px;
    color: var(--light-color);
    letter-spacing: 2px;
    font-weight: 700;
}

header nav a:hover {
    color: #fff;
    background: var(--green);
}

header nav a.active {
    color: #fff;
    background: var(--green);
}

/* header .icons .bars,
header .icons .search, */
header .icons a {
    cursor: pointer;
    margin-left: 5rem;
    /* height: 5.5rem; */
    line-height: 4.5rem;
    /* width: 8.5rem; */
    font-size: 1.6rem;
    /* color:var(--black); */
    /* border-radius: 50%; */
    /* background: #eee; */
}

header .icons a .bars,
header .icons a .search,
header .icons a .cart,
header .icons a .fav,
#menu-close {
    width: 3.5rem;
    height: 3.5rem;
    font-size: .5rem;
    border-radius: 50%;
    background: #eee;
    color:var(--black);
    padding:6px;
}
.cart-wrapper {
    position: relative;
}
.cart-wrapper .overlay {
    position: absolute;
    top:-25px;
    right:-10px;
    background-color: #eee;
    display: flex;
    border-radius: 50%;
    font-weight: 1000;
    color:black;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
}

.cart-wrapper .overlay:hover{
    color:white;
    background: var(--black);
}

header .icons a .bars:hover,
header .icons a .search:hover,
header .icons a .cart:hover,
header .icons a .fav:hover {
    color:var(--black);
    background-color: var(--green);
    transform: rotate(360deg) scale(1.5);
}

header .icons #menu-bars {
    display: none;
}



  #search-form {
    position: fixed;
    /* top:-110%; */
    left:0;
    height:100%;
    width:100%;
    z-index:1004;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }

  #search-form .open-search{
    top:0;
  }

  #search-form .close-search{
    /* top: -110%; */
    display: none;
}

  #search-form #search {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
  }

  #search-form #search::placeholder {
    color:var(--green);
  }

  #search-form #search::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  #search-form label {
    color:#eee;
    cursor: pointer;
    font-size: 3rem;
  }

  #search-form label:hover {
    color: var(--green);
  }

  #search-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top:2rem;
    right:3rem;
    font-size: 5rem;
  }

  @media (max-width:991px) {
    header {
      padding: 1rem 2rem;
    }
  }

@media (max-width:768px) {
    header .icons #menu-bars {
        display: inline-block;
    }
    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 1rem;
    }

    header .none {
        display: none;
    }
    header .active {
        clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
    }

    header nav a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search {
        width: 90%;
    }
  }